# Makes Wezterm launch from the dock
# ~/.config/xfce4/panel/launcher-17/16852853561.desktop
[Desktop Entry]
Version=1.0
Type=Application
Exec=wezterm
Icon=org.xfce.terminal
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Terminal Emulator
Comment=Use the command line
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal-emulator.desktop
Path=
